<div class="col-md-4 sticky order-2">
    <div class="sidebar-services">
        <h3><strong>Accounting &amp; Bookkeeping</strong></h3> 
        <ul>
            <li><a href="@Url.Action("Accounting", "AccountingBookkeepingService")" class="@ViewBag.Accounting">Accounting</a></li>
            <li><a href="@Url.Action("Bookkeeping", "AccountingBookkeepingService")" class="@ViewBag.Bookkeeping">Bookkeeping</a></li>
            <li><a href="@Url.Action("AccountingReview", "AccountingBookkeepingService")" class="@ViewBag.AccountingReview">Accounting Review</a></li>
            <li><a href="@Url.Action("BacklogAccounting", "AccountingBookkeepingService")" class="@ViewBag.BacklogAccounting">Backlog Accounting</a></li>
            <li><a href="@Url.Action("AccountingSupervision", "AccountingBookkeepingService")" class="@ViewBag.AccountingSupervision">Accounting Supervision</a></li>
            <li><a href="@Url.Action("CryptoAccounting", "AccountingBookkeepingService")" class="@ViewBag.AccountingSupervision">Crypto Accounting</a></li>
        </ul>
    </div>
</div>

