@{
    IEnumerable<AMCAAuditing.Models.InsightModel> insightModel = ViewData["IndexInsight"] as IEnumerable<AMCAAuditing.Models.InsightModel>;
}
<div class="col-md-4 sticky order-2">
    <div class="sidebar-services">
        <h3><strong>VAT Consulting</strong></h3>
        <ul>
            <li><a href="@Url.Action("VatRegitration", "VatConsultingService")" class="@ViewBag.VatRegitration">VAT Registration Assistance</a></li>
            <li><a href="@Url.Action("ReturnFiling", "VatConsultingService")" class="@ViewBag.ReturnFiling">VAT Return Filing</a></li>
            <li><a href="@Url.Action("Reconsideration", "VatConsultingService")" class="@ViewBag.Reconsideration">VAT Reconsideration</a></li>
            <li><a href="@Url.Action("TrainingAdvisory", "VatConsultingService")" class="@ViewBag.TrainingAdvisory">VAT Training and Advisory</a></li>
            <li><a href="@Url.Action("Amendment", "VatConsultingService")" class="@ViewBag.Amendment">VAT Amendment</a></li>
            <li><a href="@Url.Action("DeRegistration", "VatConsultingService")" class="@ViewBag.DeRegistration">VAT De-registration</a></li>
            @*<li><a href="@Url.Action("TRC", "VatConsultingService")" class="@ViewBag.TRC">Tax Residence Certificate</a></li>*@
        </ul>
        <h3><strong>Related Posts</strong></h3>
        <div class="row blogs-side-w">
            <div class="col-md-12 blogs-side">
                @foreach (var blogElement in insightModel)
                {
                    <div class="row bord">
                        <img src="@Url.Content(blogElement.ImageURL)" class="img-responsive" title="@blogElement.BlogTitle" alt="@blogElement.BlogTitle" />
                        <h4>
                            <a class="eachBlog" id="@blogElement.BlogID" href="/@blogElement.pageUrlText">@blogElement.BlogTitle</a>
                        </h4>
                        @*<p>by <span>@blogElement.CreatedBy</span></p>*@
                    </div>
                }

            </div>
        </div>
    </div>
</div>