<div class="row">
    @foreach (var blogElement in Model)
    {
        <div class="col-md-4">
            <div class="styling-blogs-p">
                <div class="img-responsive">
                    <a href="https://www.amcaauditing.com/@blogElement.pageUrlText" class="">
                        <img src="@Url.Content(@blogElement.ImageURL)" class="img-responsive" width="350" height="184" alt="@blogElement.BlogTitle" />
                    </a>
                </div>
                <div class="px-15">
                    <h4 class="blogpage-heading"><a id="@blogElement.BlogID" class="eachBlog" href="https://www.amcaauditing.com/@blogElement.pageUrlText">@blogElement.BlogTitle</a></h4>
                    <p class="blogs-content-latest">@blogElement.Description</p>
                    <p>
                        <a id="@blogElement.BlogID" href="../@blogElement.pageUrlText" class="btn btn-theme btn-color-1 eachBlog">Read More <i class="las la-long-arrow-alt-right"></i></a>
                    </p>
                    <p class="author">@blogElement.CreatedOn</p>
                    @*<p class="author">by <span>@blogElement.CreatedBy</span> @blogElement.CreatedOn</p> *@
                </div>
            </div>
            @*<div class="devide-blogs"></div>*@
        </div>
    }
</div>
