@{
    ViewBag.Title = "Audit Firms in Dubai, Abu Dhabi | Approved Auditors in DMCC";
    ViewBag.Keyword = "audit firm dubai, accounting firm in dubai, audit services in dubai";
    ViewBag.Description = "AMCA Auditing and Business Advisors is one of the best accounting and audit firms in Dubai, Abu Dhabi, UAE. Approved auditors in DMCC.";
    ViewBag.Home = "active";
    ViewBag.ogImageUrl = "https://amcaauditing.com/img/mobile-slider.jpg";
    ViewBag.pageName = "Home";
}
@{
    IEnumerable<AMCAAuditing.Models.InsightModel> insightModel = ViewData["IndexInsight"] as IEnumerable<AMCAAuditing.Models.InsightModel>;
}
@model AMCAAuditing.Models.Validation

<link href="~/Content/Gallery.css" rel="stylesheet" />

<style>
    .photos-grid-container {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 0;
        align-items: start;
    }

    @@media (max-width: 580px) {
        .photos-grid-container {
            grid-template-columns: 1fr;
        }
    }

    .photos-grid-container .img-box {
        border: 1px solid #ffffff;
        position: relative;
    }

        .photos-grid-container .img-box:hover .transparent-box {
            background-color: rgba(0, 0, 0, 0.6);
        }

        .photos-grid-container .img-box:hover .caption {
            transform: translateY(-5px);
        }

    .photos-grid-container img {
        max-width: 100%;
        display: block;
        height: auto;
    }

    .photos-grid-container .caption {
        color: white;
        transition: transform 0.3s ease, opacity 0.3s ease;
        font-size: 1.5rem;
    }

    .photos-grid-container .transparent-box {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .photos-grid-container .main-photo {
        grid-row: 1;
        grid-column: 1;
    }

    .photos-grid-container .sub {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 0em;
    }

        .photos-grid-container .sub:nth-child(0) {
            grid-column: 1;
            grid-row: 1;
        }

        .photos-grid-container .sub:nth-child(1) {
            grid-column: 2;
            grid-row: 1;
        }

        .photos-grid-container .sub:nth-child(2) {
            grid-column: 1;
            grid-row: 2;
        }

        .photos-grid-container .sub:nth-child(3) {
            grid-column: 2;
            grid-row: 2;
        }

    .hide-element {
        border: 0;
        clip: rect(1px 1px 1px 1px);
        /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
</style>

<section>
    <div class="row main-slider">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="../../img/main-slider.jpg" alt="amca-banner" width="1920" height="778" class="img-responsive desktop-slider">
                    <img src="../../img/mobile-slider.jpg" alt="amca-banner-mobile" width="500" height="400" class="img-responsive mobile-slider">
                    <div class="carousel-caption">
                        <h1 class="carousal-heading">Listed Audit Firms in Dubai</h1>
                        <p>Best Audit Firm in Dubai. We offer a wide range of services including VAT consulting, liquidation, accounting, bookkeeping, and several other financial services.</p>
                        <div>
                            <button class="btn btn-theme btn-transparent" onclick="location.href='@Url.Action("AuditAssurance", "Services")';return false;">Read More <i class="las la-long-arrow-alt-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../../img/main-slider1.jpg" alt="amca-banner-2" width="1920" height="778" class="img-responsive desktop-slider">
                    <img src="../../img/mobile-slider1.jpg" alt="amca-banner-3" width="500" height="400" class="img-responsive mobile-slider">
                    <div class="carousel-caption">
                        <h2 class="carousal-heading">Engage yourself with Plausibly the Leading Audit Firm in Dubai</h2>
                        <p>With over 10 years of experience, we guarantee to consistently provide the best and high-quality services to our clients</p>
                        <div>
                            <button class="btn btn-theme btn-transparent" onclick="location.href='@Url.Action("AuditAssurance", "Services")';return false;">Read More <i class="las la-long-arrow-alt-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="../../img/main-slider2.jpg" alt="amca-banner" width="1920" height="778" class="desktop-slider">
                    <img src="../../img/mobile-slider2.jpg" alt="amca-banner-mobile-2" width="500" height="400" class="mobile-slider">
                    <div class="carousel-caption">
                        <h2 class="carousal-heading">Where Integrity meets Confidentiality</h2>
                        <p>Performing the task at hand with utmost commitment whilst guaranteeing confidentiality of client’s data</p>
                        <div>
                            <button class="btn btn-theme btn-transparent" onclick="location.href='@Url.Action("CompanyProfile", "Company")';return false;">Read More <i class="las la-long-arrow-alt-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrow-control">
                <a href="#carousel-example-generic" role="button" data-slide="prev">
                    <div class="left-cr outlet-icon">
                        <i class="las la-long-arrow-alt-left"></i>
                    </div>
                </a>
                <a href="#carousel-example-generic" role="button" data-slide="next">
                    <div class="left-cr outlet-icon">
                        <i class="las la-long-arrow-alt-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
    @*<div class="nationalDay">
            <img class="" width="300" src="../../img/uae-national-day.svg">
        </div>*@
</section>
<section>
    <div class="row about padding-section">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-12 about-company">
                    <div class="row mobile-order">
                        <div class="col-md-6 order-2">
                            <p class="font-22 text-color"><strong>AMCA Auditing and Business Advisor</strong> is an auditing and consulting firm, based in Dubai, United Arab Emirates. We provide a wide range of assurance services to companies in the private and public sector.</p>
                            <p>
                                <button class="btn btn-theme btn-color-1" onclick="location.href='@Url.Action("CompanyProfile", "Company")';return false;">Read More <i class="las la-long-arrow-alt-right"></i></button>
                            </p>
                        </div>
                        <div class="col-md-offset-1 col-md-5 order-1">
                            <p class="tagline"><span>Who we are</span></p>
                            <h2 class="middle-heading">
                                A Company with an Innovative Future
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row padding-section services-wrapper">
        <div class="container">
            <div class="col-md-12">
                <p class="tagline"><span>areas of practice</span></p>
                <h2 class="middle-heading">
                    What We Can Do for You
                </h2>
            </div>
            <div class="col-md-12 services">
                <div class="row">
                    <div class="col-md-3">
                        <div class="header-icon">
                            <div class="icon">
                                <img src="../../img/audit.svg" alt="amca-audit" width="80" height="80">
                            </div>
                            <div class="heading font-20">Audit &amp; Assurance</div>
                        </div>
                        <div class="deviderB"></div>
                        <p class="font-18 text-color">We provide clear and useful financial information on the basis of which you can make the right decisions.</p>
                        <p class="readmore"><a href="@Url.Action("AuditAssurance", "Services")">Read More <i class="las la-long-arrow-alt-right"></i></a> </p>
                    </div>
                    <div class="col-md-3">
                        <div class="header-icon">
                            <div class="icon">
                                <img src="../../img/accounting.svg" alt="amca-accounting" width="80" height="80">
                            </div>
                            <div class="heading font-20">Accounting &amp; Bookkeeping</div>
                        </div>
                        <div class="deviderB"></div>
                        <p class="font-18 text-color">We provide clear and useful financial information on the basis of which you can make the right decisions.</p>
                        <p class="readmore"><a href="@Url.Action("AccountingBookkeeping", "Services")">Read More <i class="las la-long-arrow-alt-right"></i></a> </p>
                    </div>
                    <div class="col-md-3">
                        <div class="header-icon">
                            <div class="icon">
                                <img src="../../img/vat.svg" alt="amca-vat" width="80" height="80">
                            </div>
                            <div class="heading font-20">VAT<span> Consulting</span></div>
                        </div>
                        <div class="deviderB"></div>
                        <p class="font-18 text-color">We provide clear and useful financial information on the basis of which you can make the right decisions.</p>
                        <p class="readmore"><a href="@Url.Action("VatConsulting", "Services")">Read More <i class="las la-long-arrow-alt-right"></i></a> </p>
                    </div>
                    <div class="col-md-3">
                        <div class="header-icon">
                            <div class="icon">
                                <img src="../../img/liquidation.svg" alt="amca-liquidation" width="80" height="80">
                            </div>
                            <div class="heading font-20">Liquidation/De-Registration</div>
                        </div>
                        <div class="deviderB"></div>
                        <p class="font-18 text-color">We provide clear and useful financial information on the basis of which you can make the right decisions.</p>
                        <p class="readmore"><a href="@Url.Action("Liquidation", "Services")">Read More <i class="las la-long-arrow-alt-right"></i></a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row bg-steps padding-section">
        <div class="container">
            <div class="col-md-4">
                <img src="../../img/img1.jpg" class="img-responsive" alt="amca-speciality" height="500" width="572" data-aos="fade-right">
            </div>
            <div class="col-md-8 right-add">
                <p class="tagline"><span>Our Speciality</span></p>
                <h2 class="Mtop-40 middle-heading">We Provide The Solutions To Grow Your Business Faster</h2>
                <p class="font-24 Mtop-40 theme-text-color">Serving 50+ Nationalities, Globally Longer than a Decade of Experience in Business Services </p>
                <p class="Mtop-40">
                    <button class="btn btn-theme btn-transparent" onclick="location.href='@Url.Action("CompanyProfile", "Company")';return false;">Read More <i class="las la-long-arrow-alt-right"></i></button>
                </p>
            </div>
        </div>
        <div class="background"></div>
    </div>
</section>
<section>
    <div class="row services-wrapper padding-section">
        <div class="container">
            <div class="col-md-8 col-xs-12">
                <p class="tagline"><span>how we can help</span></p>
                <h2 class="middle-heading">
                    Investment Services
                </h2>
            </div>
            <div class="col-md-4 col-xs-12 Mtop-30 text-right">
                <button class="btn btn-theme btn-color-1" onclick="location.href='@Url.Action("AccountingBookkeeping", "Services")';return false;">
                    Read More <i class="las la-long-arrow-alt-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="owl-carousel owl-theme more-services serviceitem">
            <div class="item overlay-Wr">
                <img src="../../img/internal-audit.jpg" width="575" height="404" alt="internal-audit">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>Internal <span class="block"></span>Audit</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("InternalAudit", "AuditAssuranceServices")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/external-audit.jpg" width="575" height="404" alt="external-audit">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>External <span class="block"></span>Audit</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("ExternalAudit", "AuditAssuranceServices")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/tax-audit.jpg" width="575" height="404" alt="tax-audit">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>Tax <span class="block"></span>Audit</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("TaxAudit", "AuditAssuranceServices")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/revenue-audit.jpg" width="575" height="404" alt="revenue-audit">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>Revenue <span class="block"></span>Audit</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("RevenueAudit", "AuditAssuranceServices")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/interim-audit.jpg" width="575" height="404" alt="interim-audit">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>Interim <span class="block"></span>Audit</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("InterimAudit", "AuditAssuranceServices")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/accounting.jpg" width="575" height="404" alt="amca-accounting-service">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>Accounting <span class="block"></span>Services</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("Accounting", "AccountingBookkeepingService")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/bookkeeping.jpg" width="575" height="404" alt="amca-bookkeeping">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>Bookkeeping <span class="block"></span>Services</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("Bookkeeping", "AccountingBookkeepingService")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/accounting-review.jpg" width="575" height="404" alt="amca-accounting-review">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>Accounting <span class="block"></span>Review</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("AccountingReview", "AccountingBookkeepingService")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/backlog-accounting.jpg" width="575" height="404" alt="amca-backlog-accounting">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>Backlog <span class="block"></span>Accounting</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("BacklogAccounting", "AccountingBookkeepingService")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/accounting-supervision.jpg" width="575" height="404" alt="amca-accounting-supervision">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>Accounting <span class="block"></span>Supervision</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("AccountingSupervision", "AccountingBookkeepingService")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/tax-registration.jpg" width="575" height="404" alt="amca-tax-registration">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>VAT Registration <span class="block"></span>Assistance</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("VatRegitration", "VatConsultingService")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/tax-return-filing.jpg" width="575" height="404" alt="amca-tax-return-filing">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>VAT Return <span class="block"></span>Filing</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("ReturnFiling", "VatConsultingService")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/tax-reconsideration.jpg" width="575" height="404" alt="amca-tax-reconsideration">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>VAT <span class="block"></span>Reconsideration</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("Reconsideration", "VatConsultingService")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/tax-training.jpg" width="575" height="404" alt="amca-tax-training">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>VAT Training <span class="block"></span>and Advisory</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("TrainingAdvisory", "VatConsultingService")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/tax-amendment.jpg" width="575" height="404" alt="tax-amendment">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>VAT <span class="block"></span>Amendment</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("Amendment", "VatConsultingService")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/tax-deregistration.jpg" width="575" height="404" alt="tax-deregistration">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>VAT <span class="block"></span>De-registration</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("DeRegistration", "VatConsultingService")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="../../img/tax-residence-certificate.jpg" width="575" height="404" alt="tax-deregistration">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>Tax Residence <span class="block"></span>Certificate</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("TRC", "VatConsultingService")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="~/img/liquidation-process.jpg" width="575" height="404" alt="liquidation-process">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>Liquidation <span class="block"></span>Process</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("LiquidationProcess", "LiquidationService")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item overlay-Wr">
                <img src="~/img/liquidator-reports.jpg" width="575" height="404" alt="liquidation-process">
                <div class="overlay-b">
                    <div class="div-text">
                        <span>Liquidator's <span class="block"></span>Report</span>
                        <p class="btn-none">
                            <button class="btn Mtop-20 btn-theme btn-color-1" onclick="location.href='@Url.Action("LiquidationReport", "LiquidationService")';return false;">
                                Read More <i class="las la-long-arrow-alt-right"></i>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row Mtop-40">
        <div class="col-md-12 padding-section bg-testimonials">
            <div class="container">
                <div class="col-md-12">
                    <p class="tagline"><span>people about us</span></p>
                </div>
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme testimonials">
                        <div class="item">
                            <h3 class="font-30">I would like to take this opportunity to thank Mr. Nadeem &amp; AMCA for their diligence, hard work &amp; professional expertise. I am extremely pleased working with them and would happily recommend their services to any business owner.</h3>
                            <div class="flex-wrap">
                                <div class="avtar">
                                    <img src="../../img/Qingdao.jpg" height="80" width="80" class="img-circle" alt="Qingdao">
                                </div>
                                <div class="name-client">
                                    <h3>Mr. Dong Xin, the Vice-president of the Overseas Dept.</h3>
                                    <p>Qingdao Yueyang Engineering Consulting Co., Ltd.</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <h3 class="font-30">Our company has been working with AMCA for 2 years. We are extremely satisfied with the quality of their service &amp; prompt response to all our queries. We highly recommend AMCA to other companies who need Audit &amp; Accounting services in UAE.</h3>
                            <div class="flex-wrap">
                                <div class="avtar">
                                    <img src="../../img/Emanuela.jpg" height="80" width="80" class="img-circle" alt="Emanuela">
                                </div>
                                <div class="name-client">
                                    <h3>Ms. Emanuela Mihaela, Founder</h3>
                                    <p>Body Fit Studio</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <h3 class="font-30">AMCA has a great team of professionals who say what they mean &amp; do what they say. All my VAT related affairs are handled by them. This is one of the few companies who met their commitment &amp; did  everything with perfection.</h3>
                            <div class="flex-wrap">
                                <div class="avtar">
                                    <img src="../../img/yosufAhmad.jpg" height="80" width="80" class="img-circle" alt="yosufAhmad">
                                </div>
                                <div class="name-client">
                                    <h3>Mr. Yousef Ahmad, Managing Director</h3>
                                    <p>Golden Rock Contracting LLC</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <h3 class="font-30">AMCA services have been outstanding so far. We are very pleased with the professionalism of the whole team. Definitely would recommend it to anyone we know.</h3>
                            <div class="flex-wrap">
                                <div class="avtar">
                                    <img src="../../img/Natalie.jpg" height="80" width="80" class="img-circle" alt="Natalie">
                                </div>
                                <div class="name-client">
                                    <h3>Ms. Natalie Meze, Manager</h3>
                                    <p>Fruit Filosofia</p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <h3 class="font-30">I am working with AMCA since long and I remain completely free of tension as AMCA is handling the work very well and in timely manner. I love the staff and I feel them like a family working together.</h3>
                            <div class="flex-wrap">
                                <div class="avtar">
                                    <img src="../../img/Vinko.jpg" height="80" width="80" class="img-circle" alt="Vinko">
                                </div>
                                <div class="name-client">
                                    <h3>Mr. Vinko Cijic, CEO</h3>
                                    <p>German Technical Consultancies DMCC</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section> 
    <div class="row form-wrapper" id="requestWrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="tagline"><span>free consultation</span></p>
                    <h2 class="middle-heading">
                        Make A Request, Now!
                    </h2>
                </div>
            </div>
            <div class="row Mtop-30">
                <div class="col-md-12">
                    @RenderPage("~/Views/Enquiry/EnquiryPagesForm.cshtml")
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row blogfeeds">
        <div class="container">
            <p class="tagline"><span>blog feed</span></p>
            <div class="owl-carousel owl-theme blogsfeedsSlider">
                @foreach (var blogElement in insightModel)
                {
                    <div class="item">
                        <div class="col-md-12 oddRow bg">
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="@Url.Content(@blogElement.ImageURL)" height="285" width="185" title=@blogElement.pageUrlText alt=@blogElement.pageUrlText class="img-responsive">
                                </div>
                                <div class="col-md-9">
                                    <h4><a id="@blogElement.BlogID" class="eachBlog" href="/@blogElement.pageUrlText">@blogElement.BlogTitle</a></h4>
                                    <p>@blogElement.Description</p>
                                    <p>@blogElement.CreatedOn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <p class="Mtop-20 text-right">
                <button class="btn btn-theme btn-transparent" onclick="location.href='@Url.Action("Blogs", "Pages")';return false;">
                    View All Blogs <i class="las la-long-arrow-alt-right"></i>
                </button>
            </p>
        </div>
    </div>
</section>
<section>
    <div class="row padding-section contact-us">
        <div class="container">
            <div class="col-md-8">
                <div class="row">
                    <p class="tagline"><span>contact info</span></p>
                    <h2 class="middle-heading">
                        Feel Free to Contact Us with Any Questions
                    </h2>
                </div>
                <div class="row details-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="flex-contact">
                                <div class="icon-f"><i class="las la-street-view"></i><span class="circle-shadow"></span></div>
                                <div class="content-f">Our Location</div>
                            </div>
                            <div class="full-row">
                                Unit No: 805,806,807, 8th Floor, Mazaya Business Avenue BB2, Jumeirah Lake Tower (JLT), DMCC, Dubai, UAE
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="flex-contact">
                                <div class="icon-f"><i class="las la-phone-volume"></i><span class="circle-shadow"></span></div>
                                <div class="content-f">Call Us</div>
                            </div>
                            <div class="full-row">

                                <span>Landline: <a href="tel:+97142408784">+971 4 240 8784</a> </span>
                                @*<span>Landline: +971 4 240 8784</span>*@
                                @*<span>Mobile: +971 56 504 5789</span>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row details-wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="flex-contact">
                                <div class="icon-f"><i class="las la-envelope-open"></i><span class="circle-shadow"></span></div>
                                <div class="content-f">Email</div>
                            </div>
                            <div class="full-row">
                                <a href="mailto: info@amcaauditing.com">info@amcaauditing.com</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="flex-contact">
                                <div class="icon-f"><i class="las la-clock"></i><span class="circle-shadow"></span></div>
                                <div class="content-f">Working Hours</div>
                            </div>
                            <div class="full-row">
                                <span>9:00AM to 6:00PM</span>
                                <span>Monday to Friday</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../../img/contact-us.jpg" class="img-responsive" height="470" width="589" alt="amca-contact-us">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row form-wrapper" id="requestWrapper">
        <div class="container">
            <div class="row Mtop-30">
                <p class="tagline"><span>Gallery</span></p>
                <div class="col-md-12">
                    <p>
                        Explore our Gallery, a visual journey showcasing our achievements, events, and memorable moments.
                        From team celebrations to client success stories, this collection reflects our dedication, creativity, and growth.
                        Dive in and experience the vibrant spirit of AMCA!
                    </p>
                    <main>
                        <div id="gallery" class="photos-grid-container gallery">
                            <div class="main-photo img-box">
                                @*<a href="~/AMCA_Gallery/1.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/1.jpg" alt="image" /></a>*@
                                <a href="~/AMCA_Gallery/29.png" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/29.png" alt="image" /></a> @*temp*@
                            </div>
                            <div>
                                <div class="sub">
                                    @*<div class="img-box"><a href="~/AMCA_Gallery/2.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/2.jpg" alt="image" /></a></div>
                                    <div class="img-box"><a href="~/AMCA_Gallery/2.png" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/2.png" alt="image" /></a></div>
                                    <div class="img-box"><a href="~/AMCA_Gallery/3.1.png" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/3.1.png" alt="image" /></a></div>*@
                                    <div class="img-box"><a href="~/AMCA_Gallery/10.png" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/10.png" alt="image" /></a></div> @*temp*@
                                    <div class="img-box"><a href="~/AMCA_Gallery/5.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/5.jpg" alt="image" /></a></div> @*temp*@
                                    <div class="img-box"><a href="~/AMCA_Gallery/3.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/3.jpg" alt="image" /></a></div> @*temp*@
                                    <div id="multi-link" class="img-box">
                                        <a href="~/AMCA_Gallery/11.png" class="glightbox" data-glightbox="type: image">
                                            <img src="~/AMCA_Gallery/11.png" alt="image" />
                                            <div class="transparent-box">
                                                <div class="caption">
                                                    +20
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="more-img" class="extra-images-container hide-element">
                                <a href="~/AMCA_Gallery/3.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/3.jpg" alt="image" /></a>
                                @*<a href="~/AMCA_Gallery/4.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/4.jpg" alt="image" /></a>*@
                                <a href="~/AMCA_Gallery/5.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/5.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/6.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/6.jpg" alt="image" /></a>
                                @*<a href="~/AMCA_Gallery/7.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/7.jpg" alt="image" /></a>*@
                                <a href="~/AMCA_Gallery/8.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/8.jpg" alt="image" /></a>
                                @*<a href="~/AMCA_Gallery/9.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/9.jpg" alt="image" /></a>*@
                                @*<a href="~/AMCA_Gallery/10.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/10.jpg" alt="image" /></a>*@
                                <a href="~/AMCA_Gallery/10.png" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/10.png" alt="image" /></a>
                                @*<a href="~/AMCA_Gallery/11.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/11.jpg" alt="image" /></a>*@
                                @*<a href="~/AMCA_Gallery/12.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/12.jpg" alt="image" /></a>*@
                                @*<a href="~/AMCA_Gallery/13.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/13.jpg" alt="image" /></a>*@
                                <a href="~/AMCA_Gallery/14.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/14.jpg" alt="image" /></a>
                                @*<a href="~/AMCA_Gallery/15.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/15.jpg" alt="image" /></a>*@
                                @*<a href="~/AMCA_Gallery/16.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/16.jpg" alt="image" /></a>*@
                                <a href="~/AMCA_Gallery/17.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/17.jpg" alt="image" /></a>
                                @*<a href="~/AMCA_Gallery/18.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/18.jpg" alt="image" /></a>*@
                                <a href="~/AMCA_Gallery/19.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/19.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/20.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/20.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/21.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/21.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/22.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/22.jpg" alt="image" /></a>
                                @*<a href="~/AMCA_Gallery/23.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/23.jpg" alt="image" /></a>*@
                                <a href="~/AMCA_Gallery/24.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/24.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/25.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/25.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/26.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/26.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/27.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/27.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/28.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/28.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/29.png" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/29.png" alt="image" /></a>
                                <a href="~/AMCA_Gallery/30.png" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/30.png" alt="image" /></a>
                                <a href="~/AMCA_Gallery/31.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/31.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/32.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/32.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/33.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/33.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/34.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/34.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/35.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/35.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/36.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/36.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/37.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/37.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/38.png" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/38.png" alt="image" /></a>
                                @*<a href="~/AMCA_Gallery/39.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/39.jpg" alt="image" /></a>*@
                                @*<a href="~/AMCA_Gallery/40.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/40.jpg" alt="image" /></a>*@
                                @*<a href="~/AMCA_Gallery/41.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/41.jpg" alt="image" /></a>*@
                                <a href="~/AMCA_Gallery/42.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/42.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/43.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/43.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/44.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/44.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/45.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/45.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/46.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/46.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/47.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/47.jpg" alt="image" /></a>
                                <a href="~/AMCA_Gallery/48.jpg" class="glightbox" data-glightbox="type: image"><img src="~/AMCA_Gallery/48.jpg" alt="image" /></a>
                            </div>
                        </div>
                    </main>
                </div> <!-- end of col-md-12 -->
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row newsletter padding-section">
        <div class="container">
            <div class="col-md-12 about-company">
                <div class="row">
                    <div class="col-md-5 left-under">
                        <p class="tagline"><span>newsletter signup</span></p>
                        <h2 class="middle-heading">
                            Stay Tuned for Our Updates
                        </h2>
                    </div>
                    @using (Ajax.BeginForm("EmailSubscribe", "Pages", new AjaxOptions { HttpMethod = "POST", OnSuccess = "ShowSuccess" }, new { @id = "SubscribForm" }))
                    {
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.TextBoxFor(model => Model.EmailId, new { @class = "form-control forminput-theme", id = "subscribeId", @placeholder = "Enter your Email" })
                                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "errorValidation" })
                            </div>
                            <div class="form-group">
                                <button class="btn btn-theme btn-color-1" type="submit">subscribe <i class="las la-long-arrow-alt-right"></i></button>
                            </div>
                            @*<div class="form-group">
                                    <p>@ViewBag.errorMsg</p>
                                    <div id="SuccessfulMsg" style="color: green; font-weight: bold"></div>
                                </div>*@
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/gallery.js"></script>
<script>

    const lightbox = GLightbox({
        touchNavigation: true,
        loop: true,
        width: "90vw",
        height: "90vh"
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
        history.pushState("", document.title, window.location.origin + "");
    })
</script>
@*CELEBRATION*@
@*<style>
        #loaderCeleb {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background-color: #fff;
            background: url('../../img/UAE_flag.gif') 50% 50% no-repeat rgb(249,249,249);
        }

        .content-celeb {
            position: absolute;
            top: 550px;
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 15px;
        }

            .content-celeb span {
                color: #c5951f
            }


    </style>
    <div id="loaderCeleb">
        <div class="content-celeb">
            <h3><span>AMCA</span> family would like to extend its warmest greetings!</h3>
            <h2>UAE <span>NATIONAL DAY</span> 2022</h2>
        </div>
    </div>



    <script>
        $(document).ready(function () {

            $('#loaderCeleb').fadeOut(5000);
        });

    </script>*@
@*CELEBRATION END*@
