<div class="row">
@foreach (var blogElement in Model)
    {
        <div class="col-md-4 styling-blogs-p">
            <div class="row">
                <div class="col-md-12">
                    <img src="@Url.Content(@blogElement.ImageURL)" class="img-responsive" alt="@blogElement.BlogTitle" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="blogpage-heading"><a id="@blogElement.BlogID" class="eachBlog" href="@blogElement.pageUrlText">@blogElement.BlogTitle</a></h4>
                    <p class="blogs-content-latest">@blogElement.Description</p>
                    <p>
                        <a id="@blogElement.BlogID" href="@blogElement.pageUrlText" class="btn btn-theme btn-color-1 eachBlog">Read More <i class="las la-long-arrow-alt-right"></i></a>
                    </p>
                    <p class="author">@blogElement.CreatedOn</p>
                    @*<p class="author">by <span>@blogElement.CreatedBy</span> @blogElement.CreatedOn</p>*@
                </div>
            </div>
            <div class="devide-blogs"></div>
        </div>
    }
</div>

