@{
    ViewBag.Title = "Corporate Tax in UAE | Top Corporate Tax Consultants in Dubai,UAE | AMCA Auditing";
    ViewBag.Keyword = "corporate tax services in the uae,corporate tax services,corporate tax,Corporate Tax, Corporate Tax UAE, Corporate Taxes, Federal Tax Authority, Taxation, Uae Tax, UAE Tax Legislation, UAE Tax Regulations, UAE Tax System, corprate tax in uae,corprate tax in uae,corporate tax in uae,corporate tax rate in uae,corporate income tax in uae,corporate tax in uae 2023,what is corporate tax in uae,tax in uae news,corporate tax in the uae,how much tax in uae,new corporate tax in uae,business tax in uae,corporate tax in uae news,tax in uae 2022,does uae have corporate tax,federal corporate tax in uae,tax in uae 2021,corporate tax in uae 2021,corporate tax in uae is going to happen,tax in uae for expats,is there corporate tax in uae,introduction of corporate tax in the uae,how to register for corporate tax in uae,Corporate Tax on UAE Free Zone Companies,Corporate tax consultant,Fta approved tax agent,Best corporate tax consultant in uae,Tax consultant";
    ViewBag.Description = "AMCA Auditing is a leading Corporate Tax consultant in UAE providing corporate tax services all over UAE. FTA Approved tax agent ";
    ViewBag.PageTitle = "Corporate Tax Services in UAE";
    ViewBag.CorporateTax = "ActiveSubLink";
    ViewBag.ServiceActive = "active";
}

<section class="banner-sec-top">
    <div class="row breadcrumb-banner-sec">
        <div class="col-md-6 broudcrumb-left">
            <div class="broudcrumb-content">
                <h1 class="h1Heading">@ViewBag.PageTitle</h1>
                <ul class="broudcrumb">
                    <li><a href="@Url.Action("Index", "Pages")">Home</a></li>
                    <li>Services</li>
                    <li>
                        VAT Consulting
                    </li>
                    <li>Corporate Tax Services</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 broudcrumb-right">
            <img src="~/img/services/corporate-tax.svg" alt="@ViewBag.PageTitle" title="@ViewBag.PageTitle" />
        </div>
    </div>
</section>
<section>
    <div class="row padding-section">
        <div class="container mobile-order">
            @RenderPage("~/Views/Sidebar/CorporateTaxSidebar.cshtml")

            <div class="col-md-8 order-1">
                <div class="row">
                    <div class="col-md-12">
                        @RenderPage("~/Views/Services/EnquiryForm.cshtml")
                    </div>
                    <div class="col-md-12">
                        <p>Being a key business hub in the middle east, UAE provides significant tax benefits to investors. Unique tax benefits are given to provide additional support to businesses set up in UAE-free zones. </p>
                        <p>UAE's Ministry of Finance recently announced the introduction of a federal corporation tax (CT) on January 31, 2022, slated to affect companies’ financial periods starting on or after June 1, 2023. Under an agreement signed between the OECD and the UAE in Dubai, the two partners will work together to establish a regional dialogue on the negotiation and application of tax treaties and produce an official Arabic version of the OECD Model Tax Convention. The UAE Corporate Tax system adheres to global best practices and Guidelines issued by OECD so that the compliance burden on businesses can be minimized. </p>
                        <h2>Corporate Tax in UAE: Meaning</h2>
                        <p>Corporate tax is a direct tax levied on a company's net income or profit. In some countries, the corporate tax is also known as <strong>business profit tax or corporate income tax</strong>.</p>
                        <h2>Application of Corporate Tax in UAE</h2>
                        <p>All business and commercial activities carried out within the seven emirates of the UAE are subject to UAE Corporation Tax. However, there are some exceptions:</p>
                        <ul>
                            <li>Businesses involved in mining or exploitation of natural resources.</li>
                            <li>Individuals receiving any income/ gain in a personal capacity will not be subject to corporate tax, as it is not considered a business/commercial activity.</li>
                            <li>Companies registered in a free trade zone must comply with all legal requirements and. Can apply 0% Corporate tax rate for income earned with business income from outside of UAE or within the same or similar free zones.</li>
                            <li>Govt and govt owned Entities are exempt from corporate tax</li>
                            <li>Charities and Public Benefit Organizations (upon approval and discretion of the Ministry) will also be exempt</li>
                            <li>Regulated investment funds and Real Estate Investment Trusts can apply to the Federal Tax Authority (FTA) to be exempt from UAE CT subject to meeting certain requirements.</li>
                        </ul>
                        <p>The impact of corporate tax on the Emirate's banking tax decree will be revealed in the coming months. As a result, the law will have an impact not just on overseas bank branches but also on domestic banks, which will also be subject to corporation tax.</p>
                        <p>Furthermore, the UAE corporate tax law will now apply to the international banking industry, which has been subject to an emirate-level bank tax decree. </p>
                        <h2>The Goals of the New Corporate Tax in UAE</h2>
                        <ul>
                            <li>Establishing the UAE as a world-class investment and business destination.</li>
                            <li>Keeping taxes transparent and avoiding unfavorable tax consequences.</li>
                            <li>Achieving the UAE's strategic goals by accelerating its development and transformation.</li>
                            <li>Encouraging Accountability and achieving enforcing best tax practices.</li>
                        </ul>
                        <h2>Enforcement Date of Corporate Tax in UAE</h2>
                        <p>Corporate Tax will become effective in fiscal years beginning on or after June 1, 2023. Businesses adopting a fiscal year ending May 31, 2024, will be subject to corporate tax. The first tax returns will be filed in 2024. Corporations with fiscal years starting on January 1, 2023, and ending on December 31, 2023, will be subject to corporate tax.</p>
                        <p>For Example, Corporations with fiscal years starting on June 1, 2023, and ending on May 30, 2024, will be subject to corporate tax, likewise:</p>
                        <table border="0" class="table-theme" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th>
                                        Financial year-end
                                    </th>
                                    <th>
                                        First Tax period
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        30 June
                                    </td>
                                    <td>
                                        1<sup>st</sup> July 2023- 30<sup>th</sup> June 2024
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        31 December
                                    </td>
                                    <td>
                                        1<sup>st</sup> January 2024- 31<sup>st</sup> December 2024
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h2>Rate of Corporate Taxation</h2>
                        <p>For corporations, the following rates will apply:</p>
                        <ul>
                            <li>A 0% tax rate applies to taxable income up to AED 375,000 (about USD 102,095).</li>
                            <li>Tax rate of 9% on taxable income over AED 375,000 (about USD 102,095).</li>
                            <li>A Global Anti-Base Erosion Model Rules (Pillar Two) of the OECD's Base Erosion and Profit Shifting project dictate a tax rate for major multinational corporations that meet specific conditions.</li>
                        </ul>
                        <h2>Untaxed Income</h2>
                        <p>Corporate tax will not apply to the following:</p>
                        <ul>
                            <li>An employee's salary or income will not have to comply with the new Corporate Tax. The individual, however, will be liable for company tax if the payment is derived from activities performed under a freelancing license or permission.</li>
                            <li>Owning shares or other assets results in dividends, capital gains, and other income earned in a personal capacity.</li>
                            <li>Investing in real estate is legal in the UAE, as long as the investor holds no business license.</li>
                            <li>Individuals can earn interest and other revenue through bank accounts or savings plans through bank accounts or savings plans.</li>
                            <li>Qualifying intra-group transactions and reorganizations will not be subject to UAE CT provided the necessary conditions are met</li>
                            <li>UAE CT will generally not be levied on a foreign investor’s income from dividends, capital gains, interest, royalties, and other investment returns, unless the income is generated through a business/commercial activity.</li>
                        </ul>
                        <h2>Free Trade Zone</h2>
                        <p>For now, the UAE government plans to maintain its commitment to enterprises registered in Free Trade Zones by providing exemplary tax benefits if they meet the conditions levied. Further, a Corporate Tax return must also be submitted by each free zone annually.</p>
                        <p>Further business units headquartered in a free zone with mainland operations will be subject to corporate tax</p>
                        <h3>In some instances, free zone enterprises will be liable to UAE corporate tax.</h3>
                        <p>All businesses in the UAE are now subject to corporate tax. However, personal income is still not going to be taxed in the UAE. Free Zone Businesses can avail of tax benefits by carrying on their business activities within the Free zone or outside of UAE. However, if they carry on activity within the UAE mainland, the standard tax treatment will be applied to income from such activities.</p>
                        <h3>Registration and deregistration</h3>
                        <ul>
                            <li>The FTA requires that all businesses subject to CT register with the FTA within the prescribed period and obtain a Tax Registration Number. In addition, if the company does not voluntarily register for CT purposes, the FTA can automatically do so.</li>
                            <li>The FTA must be notified within three months of the cessation of a business' CT registration (e.g., due to liquidation).</li>
                            <li>For FTA to deregister an individual, the individual must have filed CT returns and paid all CT obligations and penalties until discontinuation.</li>
                            <li>The application for deregistration is not made within the deadlines, and the payment and filing requirements are not met.</li>
                        </ul>
                        <h3>Filing, payment, and refund</h3>
                        <ul>
                            <li>Businesses will only need to prepare one tax return and other related supporting schedules with the FTA for each tax period. A company will not have to file a provisional CT return or pay the CT in advance.</li>
                            <li>The FTA must receive each tax return and related supporting schedule within nine months of each tax period's end.</li>
                            <li>CT payments for a Tax Period must be made within nine months after the Tax Period. The taxpayer can request a CT refund from the FTA if they can demonstrate that such a refund is due.</li>
                        </ul>
                        <h3>Documentation requirements</h3>
                        <ul>
                            <li>Businesses will be required to maintain financial and other records to comply with the CT return and other documents submitted to the FTA. Additionally, specific exempted individuals will also be required to keep records to allow the FTA to verify their exemption status.</li>
                            <li>It will be determined by applicable laws and regulations whether the financial statements need to be independently audited by an accredited firm. However, Free Zone Persons must have audited financial statements to qualify for the UAE CT regime.</li>
                        </ul>
                        <h2>Key Areas of Practice for Our Tax Advisors</h2>
                        <p>Providing complete tax services with high quality and focusing on the client is the pleasure only a good team can provide.</p>
                        <p>A high level of professional competence and attention to client needs can only be provided by a few. Therefore, selecting a support team that understands your business and its needs is of utmost importance to us.</p>
                        <p>In addition to the tax law areas listed above, our tax advisors assist clients in the following areas, as well:</p>
                        <ul>
                            <li>Tax disputes</li>
                            <li>Problems with tax returns</li>
                            <li>Tax penalties</li>
                            <li>Disagreements in valuation</li>
                        </ul>
                        <p>You can turn to AMCA for all your Corporate Tax needs to ensure smooth submission to the Federal Tax Authority. Our services include:</p>
                        <ol type="1">
                            <li>Corporate Tax Registration</li>
                            <li>Corporate Tax De-registration</li>
                            <li>Corporate Tax Review and Filing</li>
                            <li>Corporate Tax Refund</li>
                        </ol>
                        <h2>Corporate Tax on UAE Free Zone Companies</h2>
                        <p>The Free Zone Person who is considered a Qualifying Free Zone Person can take advantage of a preferential rate of Corporate Tax of 0% on their overall "Qualifying Income".</p>
                        <p>For a Free Zone Person to be considered a Qualifying Free Zone Person, the following criteria must be met:</p>
                        <ul>
                            <li>Maintain adequate substance in the UAE.</li>
                            <li>Generate Qualifying Income' </li>
                            <li>The company must not have elected to be subject to Corporate Tax at the standard rates.</li>
                            <li>Comply with the requirements of the Corporate Tax Law regarding transfer pricing.</li>
                        </ul>
                        <p>
                            Qualifying Free Zone Persons may be required to meet additional conditions prescribed by the Minister.
                        </p>
                        <p>
                            Suppose a Qualifying Free Zone Person fails to satisfy any of the conditions or elects to be subject to the regular Corporate Tax regime. In that case, they will be subject to the standard rates of Corporate Tax from the beginning of the Tax Period in which they failed to satisfy the conditions.
                        </p>
                        <h2 class="Mtop-10">Frequently Asked Questions </h2>
                        <ul>
                            <li>
                                <h4 class="Mtop-10">What is Corporate Tax in UAE?</h4>
                            </li>
                            <li style="list-style:none;">
                                <p>
                                    The Corporate Tax in UAE is a direct tax imposed on corporations and other businesses net income or profit. In other jurisdictions, Corporate Tax is also known as Corporate Income Tax or Business Profits Tax.
                                </p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h4 class="Mtop-10">Why is the UAE introducing Corporate Tax?</h4>
                            </li>
                            <li style="list-style:none;">
                                <p>By establishing a competitive corporate Tax regime based on international best practices, the UAE will cement its position as a leading global investment and business hub, as well as accelerate its development and transformation.</p>
                                <p>The UAE also affirms its commitment to international tax transparency standards by introducing a Corporate Tax regime.</p>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                <h4 class="Mtop-10">Is the UAE the first country to introduce Corporate Tax?</h4>
                            </li>
                            <li style="list-style:none;">
                                <p>Most Middle Eastern countries have a comprehensive Corporate Tax regime.</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h4 class="Mtop-10">Who will be subject to Corporate Tax in UAE?</h4>
                            </li>
                            <li style="list-style:none;">
                                <p>Legal entities incorporated in the UAE and juridical entities effectively managed and controlled in the UAE are covered by UAE Corporate Tax, natural persons conducting business in UAE, and foreign juridical entities with permanent establishments in the UAE.</p>
                                <p>Corporate Tax will apply to individuals only if they are engaged in a business or business activity in the UAE, directly or through an unincorporated partnership or sole proprietorship. In due course, a Cabinet Decision will specify what would fall within the scope of UAE Corporate Tax for a natural person.</p>

                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h4 class="Mtop-10">Will UAE or GCC nationals owning UAE entities be subject to corporate tax in UAE 2023?</h4>
                            </li>
                            <li style="list-style:none;">
                                <p>YES - The UAE Corporate Tax does not distinguish between nationality and residence. The UAE Corporate Tax applies to juridical persons incorporated or residing in the UAE and those with a permanent establishment in the UAE. There is no distinction between the residence and nationality of the individual founders or (ultimate) owners of the entity.</p>

                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h4 class="Mtop-10">Who is exempt from corporate tax in UAE 2023?</h4>
                            </li>
                            <li style="list-style:none;">
                                <p>UAE Corporate Tax is automatically exempt from the following persons or can be applied for by them:</p>
                                <ul  style="list-style:disc;">
                                    <li >Governments of the UAE, including agencies, authorities, and other public institutions;</li>
                                    <li>Government-owned companies carrying out mandated activities and listed in Cabinet decisions;</li>
                                    <li>Businesses engaging in the extraction of UAE natural resources and associated non-extractive activities are subject to Emirate taxes;</li>
                                    <li>An organization that is listed in a Cabinet Decision as a public benefit entity;</li>
                                    <li>Conditions-compliant investment funds;</li>
                                    <li>Funds that meet certain conditions related to public or private pensions and social security;</li>
                                    <li>A UAE juridical person is wholly owned and controlled by a certain exempted entity, provided certain conditions are met.</li>
                                </ul>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h4 class="Mtop-10">A UAE juridical person is wholly owned and controlled by a certain exempted entity, provided certain conditions are met.</h4>
                            </li>
                            <li style="list-style:none;">
                                <p>For UAE Corporate Tax purposes, any entity incorporated in the UAE will be automatically considered a 'resident'. In addition, individuals engaged in business or business activities in the UAE will also be regarded as residents of UAE Corporate Tax.</p>
                                <p>If a foreign company is effectively managed and controlled in the UAE, it may be considered a resident person for UAE Corporate Tax purposes. All facts and circumstances must be considered when determining where a company is effectively managed and owned. Still, a relevant indicator may be the location of where strategic decisions are made that affect the company.</p>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                <h4 class="Mtop-10">Who is considered a non-resident for UAE Corporate Tax purposes?</h4>
                            </li>
                            <li style="list-style:none;">
                                <p>A legal entity incorporated and effectively managed and controlled outside of the UAE is considered a non-resident under the Corporate Tax Law. In addition, if a natural person is not engaged in taxable business or business activities in the UAE, they are considered to be a non-resident.</p>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                <h4 class="Mtop-10">Will an individual’s employment income be subject to UAE Corporate Tax?</h4>
                            </li>
                            <li style="list-style:none;">
                                <p>Salaries and other employment income (whether from the public or private sector) are not subject to UAE Corporate Tax. An individual's employment may include a continuing service relationship in which the individual derives most or all of their income from one person. The service income is remuneration for the natural person's labor.</p>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                <h4 class="Mtop-10">Will self-employed persons (e.g., freelancers) be subject to UAE Corporate Tax?</h4>
                            </li>
                            <li style="list-style:none;">
                                <p>In accordance with the Cabinet Decision that will be issued in due course, self-employed persons will be subject to UAE Corporate Tax only if their activities are considered taxable businesses or business activities. Nonetheless, in spite of the fact that the self-employed individual may be regarded as conducting a taxable business or business activity, Corporate Tax is due on any profit/income in excess to the AED 375000. The Small Business Relief is the 0% charge in the first AED 375000.</p>

                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h4 class="Mtop-10">Will the income of UAE branches of a UAE business be subject to UAE Corporate Tax?</h4>
                            </li>
                            <li style="list-style:none;">
                                <p>Yes. Branches of UAE companies will report their income in their UAE "parent" or "head office's" taxable income report.</p>
                            </li>
                        </ul>
                        <a href="~/img/Federal-Decree-Law-No.-47-of-2022-EN.pdf" class="pdf-link-btn" target="_blank">Federal Decree-Law No. (47) of 2022 on the Taxation of Corporations and Businesses <i class="la la-file font-22" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        history.pushState("", document.title, window.location.origin + "/corporate-tax-services-in-uae");
    })

</script>


