@{
    ViewBag.Title = "Excise Tax in UAE | Top Excise Tax Consultants in Dubai,UAE | AMCA Auditing";
    ViewBag.Keyword = "UAE excise tax , Excise tax rates UAE , UAE excise tax products , UAE excise tax list , Excise tax registration UAE , Excise tax UAE 2024 , How to pay excise tax in UAE , UAE excise tax on tobacco , UAE excise tax compliance , excise tax , uae company tax , uae company tax rate , How to calculate excise tax in UAE , UAE excise tax on sugary drinks , Excise tax UAE online payment , Excise tax penalty UAE , UAE excise tax registration process";
    ViewBag.Description = "AMCA, a leading FTA Approved tax agent in the UAE, specialises in guiding businesses through the complexities of the UAE excise tax. ";
    ViewBag.PageTitle = "Excise Tax Services in UAE";
    ViewBag.CorporateTax = "ActiveSubLink";
    ViewBag.ServiceActive = "active";
}

<section class="banner-sec-top">
    <div class="row breadcrumb-banner-sec">
        <div class="col-md-6 broudcrumb-left">
            <div class="broudcrumb-content">
                <h1 class="h1Heading">@ViewBag.PageTitle</h1>
                <ul class="broudcrumb">
                    <li><a href="@Url.Action("Index", "Pages")">Home</a></li>
                    <li>Services</li>
                    <li>
                        VAT Consulting
                    </li>
                    <li>Excise Tax Services</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 broudcrumb-right"> 
            <img src="~/img/services/escisetax.svg"  alt="@ViewBag.PageTitle" title="@ViewBag.PageTitle" />
        </div>
    </div>
</section>
<section>
    <div class="row padding-section">
        <div class="container mobile-order">
            @RenderPage("~/Views/Sidebar/ExciseTaxSidebar.cshtml")

            <div class="col-md-8 order-1">
                <div class="row">
                    <div class="col-md-12">
                        @RenderPage("~/Views/Services/EnquiryForm.cshtml")
                    </div>
                    <div class="col-md-12">
                        <h2>What is UAE Excise Tax?</h2>
                        <p>Introduced in the United Arab Emirates in 2017, the excise tax is a form of indirect tax that is levied on specific excise goods that are deemed to be typically harmful to the health of the general public or the environment, such as excise tax UAE on alcohol and UAE excise tax on sugary drinks. It is applicable to goods that are either imported into the UAE, produced within the UAE or stockpiled in the UAE.</p>
                        <p>The purpose of implementing the UAE excise tax is to reduce the consumption of these harmful specific goods by the general public while also increasing the government's revenue through UAE company tax so it can be spent on beneficial public services.</p>

                        <h2>Which Goods Are Subject to UAE Excise Tax?</h2>
                        <p>The UAE excise tax list specifies the following goods on which the excise tax is applicable:</p>
                        <ul>
                            <li><strong>Carbonated Drinks:</strong> Carbonated drinks constitute any aerated beverage except unflavoured aerated water, including any concentrates, gel, or powder extracts that are intended to be made into an aerated beverage. Drinks containing alcohol are not included in the definition of carbonated drinks.</li>
                            <li><strong>Energy Drinks:</strong> Energy drinks are any beverages marketed or sold as energy drinks, and the drinks that may contain stimulant substances that provide mental or physical stimulation, including caffeine, taurine, guarana, and ginseng. Any concentrates, powder, gel or extracts intended to be made into an energy drink are also included in this definition.</li>
                            <li><strong>Tobacco and Tobacco Products:</strong>UAE Excise tax products and tobacco products constitutes any products that fall under Schedule 24 of the GCC Customs Tariff, including cigars, chewing tobacco, and electrically heated cigarettes.</li>
                        </ul>
                        <p>UAE Excise tax products also include electronic smoking devices and tools, liquids used in such devices and tools, and sweetened drinks.</p>
                        <h2>Excise Tax Rates UAE</h2>
                        <p>The Cabinet Decision No. 52 of 2019 specifies the Excise Tax Rates UAE. It is essential to adhere to UAE company tax rate.</p>
                        <ul>
                            <li>Tobacco and tobacco products – 100%</li>
                            <li>Carbonated drinks – 50%</li>
                            <li>Energy drinks-100%</li>
                            <li>Sweetened drinks – 50%</li>
                            <li>Liquids used in electronic smoking devices and tools – 100%</li>
                            <li>Electronic smoking devices and tools – 100%</li>
                        </ul>
                        <h2>Excise Tax Registration UAE</h2>
                        <p>Any person who conducts any of the following activities in the UAE is required to register for Excise Tax:</p>
                        <ul>
                            <li>The import of excise goods into the UAE</li>
                            <li>The production of excise goods in the UAE</li>
                            <li>The release of excise goods from a designated zone in the UAE</li>
                            <li>The stockpiling of excise goods in the UAE</li>
                        </ul>
                        <h2>UAE Excise Tax Registration process</h2>
                        <p>CThe process of registering for excise tax begins with determining if your business or business activity is subject to excise tax, which typically applies to goods like alcohol, tobacco, carbonated drinks, sweetened drinks and other listed goods. Excise tax registration shall be completed within 30 days of the end of any month during which the person carries out or intends to carry out activities that give rise to an Excise Tax liability. The next step is to sign up for an EmaraTax account through the Federal Tax Authority’s website and obtain a tax registration number. To know the detailed process of excise tax registration and how to pay excise tax in UAE, contact AMCA.</p>

                        <h2>Excise Tax penalty UAE</h2>
                        <ul>
                            <li>
                                The failure to keep the required records and other information specified in the tax procedures law and the tax law:
                                <p>a) AED 10,000 for the first time.</p>
                                <p>b) AED 20,000 in case of repetition.</p>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                The failure to submit a registration application within the timeframe specified in the tax law
                                <p>a) AED 10,000 (10,000)</p>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                The failure to submit the tax return within the timeframe specified in the Tax Law
                                <p>a) AED 1,000 for the first time.</p>
                                <p>b) AED 2,000 in case of repetition within 24 months.</p>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                The failure of the taxable person to display prices inclusive of Tax:
                                <p>a) AED 5,000</p>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                The failure to comply with the conditions and procedures of transferring excise goods from a designated one to another designated zone and the mechanism of preserving, storing, and processing such UAE Excise Tax Products:
                                <p>a) The penalty shall be the higher of AED 50,000 or 50% of the Tax, if applicable, chargeable on the goods in relation to the violation</p>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                The failure to provide the authority with the price lists of the excise goods that a business produces, imports or sells:
                                <p>a) AED 5,000 for the first time.</p>
                                <p>b) AED 10,000 in case of repetition.</p>
                            </li>
                        </ul>

                        <h2>How to Calculate Excise Tax in UAE?</h2>
                        <ul>
                            <li>
                                The Excise Price shall be the higher of the following two prices:
                                <p>a) The price published by the authority for the excise good in a standard price list.</p>
                                <p>b) The designated retail sales price for the excise good, less the tax included therein.</p>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                To deduct the value of tax included within the designated retail sales price, the calculations to be used are as follows:
                                <p>a) In case of excise goods that are taxable at a rate of 50% of the excise price, the excise tax shall be equivalent to one-third of its designated retail sales price.</p>
                                <p>b) In case of excise goods that are taxable at a rate of 100% of the excise price, the excise tax shall be equivalent to half of its designated retail sales price.</p>
                            </li>
                        </ul>

                        <h2>Excise Tax Returns & Payments</h2>
                        <p>Excise Tax Returns UAE are required to be filed no later than the 15th day of the calendar month following the end of the tax period. Correspondingly, the excise tax payment is due on the 15th day of the month after the end of a calendar month. The excise tax returns are to be submitted online to the Federal Tax Authority, and the excise tax UAE online payment is required to be made to the Federal Tax Authority in the manner specified by the authority.</p>
                        
                        <h2>Navigate Excise Tax Compliance with AMCA</h2>
                        <p>AMCA, a leading tax consultant in the UAE, specialises in guiding businesses through the complexities of the UAE excise tax. From registering your business with the Federal Tax Authority to ensuring UAE exsice tax compliance with intricate regulations, AMCA’s team holds unparalleled expertise in navigating the excise tax UAE 2024 . The experienced team at AMCA precisely handles tax calculations, mitigates risks, and also assists during audits, thereby ensuring a smooth process. With the dedicated support and guidance of AMCA, your business can simplify excise tax compliance and maximise savings by leveraging opportunities.</p>
                        <p>Experience efficient Excise Tax management with AMCA! Call us now for a free consultation: +971 4 240 8784.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        history.pushState("", document.title, window.location.origin + "/excise-tax-uae");
    })

</script>


