<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.Keyword" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="msvalidate.01" content="7F2F37669F1E2310642F2415D3B41631" />
    <meta name="theme-color" content="#caa669">
    @RenderSection("AdditionalMeta", false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="canonical" media="all" href="@Request.Url.AbsoluteUri" />
    <script async src=https://www.googletagmanager.com/gtag/js?id=UA-156526620-2></script>
    <link rel="apple-touch-icon" href="../../img/favicon.png">
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-156526620-2');
    </script>
    <!-- Global site tag (gtag.js) - Google Ads: 672222857 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-672222857"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-672222857');
    </script>
    @{
        IEnumerable<AMCAAuditing.Models.InsightModel> insightModel = ViewData["InsightModel"] as IEnumerable<AMCAAuditing.Models.InsightModel>;
    }
    @if (ViewBag.Controller != "InsightController")
    {
        <meta property='og:title' content="@ViewBag.Title" />
        <meta property='og:url' content="@Request.Url.AbsoluteUri" />
        <meta property='og:type' content='website' />
        <meta property="og:image" content="@ViewBag.ogImageUrl" />
        <meta property="fb:page_id" content="3058581424174487" />
    }
</head>
<body class="body_style_wide" id="@ViewBag.pageName">
    <div class="container-fluid">
        <div class="row">
            <div class="left-t-panel">
                @*<div class="text_section_in">
                        Simple Ways to Smart Solutions!
                    </div>*@
                <ul class="social-icons opacity-100">
                    <li class="fb">
                        <a href="https://www.facebook.com/amcaauditing" title="Facebook" target="_blank" rel="noreferrer"><i class="lab la-facebook-f"></i></a>
                    </li>
                    <li class="yt">
                        <a href="https://www.youtube.com/watch?v=bcMiiT8Y04s" title="Youtube" target="_blank" rel="noreferrer"><i class="lab la-youtube"></i></a>
                    </li>
                    <li class="in">
                        <a href="https://www.linkedin.com/company/amcamiddleeast" title="LinkedIn" target="_blank" rel="noreferrer"><i class="lab la-linkedin-in"></i></a>
                    </li>
                    <li class="insta">
                        <a href="https://www.instagram.com/amca.auditing/" title="Instagram" target="_blank" rel="noreferrer"><i class="lab la-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="right-t-panel">
                <div class="quick-links">
                    @*<ul class="big-List">
                            <li>
                                <a href="mailTo:info@amcaauditing.com">
                                    <i class="las la-envelope"></i>
                                </a>
                                <span>info@amcaauditing.com</span>
                            </li>
                            <li>
                                <a href="@Url.Action("ContactUs", "Pages")" title="Request a Free Consultation">
                                    <i class="las la-paper-plane"></i> Enquire Now
                                </a>
                                <span>Enquire Now</span>
                            </li>
                            <li>
                                <a href="https://wa.me/97143211204" target="_blank" rel="noreferrer">
                                    <i class="lab la-whatsapp"></i>
                                </a>
                                <span>Chat with Us</span>
                            </li>
                        </ul>*@
                    @*<ul class="social-icons">
                            <li class="fb">
                                <a href="https://www.facebook.com/amcaauditing" title="Facebook" target="_blank" rel="noreferrer">Facebook</a>
                            </li>
                            <li class="yt">
                                <a href="https://www.youtube.com/watch?v=bcMiiT8Y04s" title="Youtube" target="_blank" rel="noreferrer">Youtube</a>
                            </li>
                            <li class="insta">
                                <a href="https://www.instagram.com/amca.auditing/" title="Instagram" target="_blank" rel="noreferrer">Instagram</a>
                            </li>
                            <li class="in">
                                <a href="https://www.linkedin.com/company/amcamiddleeast" title="LinkedIn" target="_blank" rel="noreferrer">LinkedIn</a>
                            </li>
                        </ul>*@
                </div>
            </div>
        </div>
        <header>
            <div class="row main-header">
                <div class="col-md-2 pad-l-none">
                    <a href="@Url.Action("Index", "Pages")"><img src="~/img/logo.svg" class="logo img-responsive" height="300" width="95" alt="amca-logo" /></a>
                </div>
                <div class="col-md-8">
                    <div id="main-menu" class="main-menu">
                        <nav class="navigation">
                            <ul class="core-menu">
                                <li><a href="@Url.Action("Index", "Pages")" class="@ViewBag.Home">Home</a></li>
                                <li class="hoverClass">
                                    <a href="javascript:void(0)" class="@ViewBag.Company">Company</a>
                                    <ul class="dropdown">
                                        <li><a href="@Url.Action("CompanyProfile", "Company")">Profile</a></li>
                                        <li><a href="@Url.Action("MissionVission", "Company")">Mission &amp; Vision</a></li>
                                        <li><a href="@Url.Action("CorporateGroup", "Company")">Corporate Group</a></li>
                                    </ul>
                                </li>
                                <li class="hoverClass">
                                    <a href="javascript:void(0)" class="@ViewBag.ServiceActive">Services</a>
                                    <ul class="dropdown">
                                        <li class="hoverClassdrop">
                                            <a href="@Url.Action("AuditAssurance", "Services")">
                                                Audit &amp; Assurance
                                                <span class="badges">
                                                    <i class="las la-angle-right"></i>
                                                </span>
                                            </a>
                                            <ul class="dropdown2">
                                                <li><a href="@Url.Action("InternalAudit", "AuditAssuranceServices")">Internal Audit</a></li>
                                                <li><a href="@Url.Action("ExternalAudit", "AuditAssuranceServices")">External Audit</a></li>
                                                <li><a href="@Url.Action("TaxAudit", "AuditAssuranceServices")">Tax Audit</a></li>
                                                <li><a href="@Url.Action("RevenueAudit", "AuditAssuranceServices")">Revenue Audit</a></li>
                                                <li><a href="@Url.Action("InterimAudit", "AuditAssuranceServices")">Interim Audit</a></li>
                                            </ul>
                                        </li>
                                        <li class="hoverClassdrop">
                                            <a href="@Url.Action("AccountingBookkeeping", "Services")">
                                                Accounting &amp; Bookkeeping
                                                <span class="badges">
                                                    <i class="las la-angle-right"></i>
                                                </span>
                                            </a>
                                            <ul class="dropdown2">
                                                <li><a href="@Url.Action("Accounting", "AccountingBookkeepingService")">Accounting</a></li>
                                                <li><a href="@Url.Action("Bookkeeping", "AccountingBookkeepingService")">Bookkeeping</a></li>
                                                <li><a href="@Url.Action("AccountingReview", "AccountingBookkeepingService")">Accounting Review</a></li>
                                                <li><a href="@Url.Action("BacklogAccounting", "AccountingBookkeepingService")">Backlog Accounting</a></li>
                                                <li><a href="@Url.Action("AccountingSupervision", "AccountingBookkeepingService")">Accounting Supervision</a></li>
                                            </ul>
                                        </li>
                                        <li class="hoverClassdrop">
                                            <a href="@Url.Action("VatConsulting", "Services")">
                                                VAT Consulting
                                                <span class="badges">
                                                    <i class="las la-angle-right"></i>
                                                </span>
                                            </a>
                                            <ul class="dropdown2">
                                                <li><a href="@Url.Action("VatRegitration", "VatConsultingService")">VAT Registration Assistance</a></li>
                                                <li><a href="@Url.Action("ReturnFiling", "VatConsultingService")">VAT Return Filing</a></li>
                                                <li><a href="@Url.Action("Reconsideration", "VatConsultingService")">VAT Reconsideration</a></li>
                                                <li><a href="@Url.Action("TrainingAdvisory", "VatConsultingService")">VAT Training and Advisory</a></li>
                                                <li><a href="@Url.Action("Amendment", "VatConsultingService")">VAT Amendment</a></li>
                                                <li><a href="@Url.Action("DeRegistration", "VatConsultingService")">VAT De-registration</a></li>
                                                @*<li><a href="@Url.Action("TRC", "VatConsultingService")">Tax Residence Certificate</a></li>*@
                                            </ul>
                                        </li>
                                        <li class="hoverClassdrop">
                                            <a href="@Url.Action("TRC", "Services")">
                                                Tax Residence Certificate
                                                <span class="badges">
                                                    <i class="las la-angle-right"></i>
                                                </span>
                                            </a>
                                            <ul class="dropdown2">
                                                <li><a href="@Url.Action("TRCforNaturalPerson", "TRCService")">TRC for Natural Person</a></li>
                                                <li><a href="@Url.Action("TRCforLegalPerson", "TRCService")">TRC for Legal Person</a></li>
                                            </ul>
                                        </li>
                                        <li class="hoverClassdrop">
                                            <a href="@Url.Action("Liquidation", "Services")">
                                                Liquidation/De-Registration
                                                <span class="badges">
                                                    <i class="las la-angle-right"></i>
                                                </span>
                                            </a>
                                            <ul class="dropdown2">
                                                <li><a href="@Url.Action("LiquidationProcess", "LiquidationService")">Liquidation Process</a></li>
                                                <li><a href="@Url.Action("LiquidationReport", "LiquidationService")">Liquidator's Report</a></li>
                                            </ul>
                                        </li>
                                        <li class="hoverClassdrop">
                                            <a href="@Url.Action("CorporateTaxServices", "Services")">
                                                Corporate Tax Services
                                                @*<span class="badges">
                                                        <i class="las la-angle-right"></i>
                                                    </span>*@
                                            </a>
                                            @*<ul class="dropdown2">
                                                    <li><a href="@Url.Action("LiquidationProcess", "LiquidationService")">Liquidation Process</a></li>
                                                    <li><a href="@Url.Action("LiquidationReport", "LiquidationService")">Liquidator's Report</a></li>
                                                </ul>*@
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Industries", "Pages")" class="@ViewBag.Industries">Industries</a></li>
                                <li><a href="@Url.Action("Blogs", "Pages")" class="@ViewBag.Blogs">Blogs</a></li>
                                <li class="hoverClass">
                                    <a href="javascript:void(0)" class="@ViewBag.Career">Careers</a>
                                    <ul class="dropdown">
                                        <li><a href="@Url.Action("ListAllJobs", "Career")">Experienced Career Roles</a></li>
                                        <li><a href="@Url.Action("StudentAndCampusRole", "Career")">Student and Campus Roles</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("ContactUs", "Pages")" class="@ViewBag.Contact">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-2 pad-r-none">
                    <div class="d-flex">
                        <div class="icons">
                            <span class="circle"></span>
                            <i class="las la-phone-volume"></i>
                        </div>
                        <div class="details-caption">
                            <span class="callus">Call Us</span>
                            <span class="callusn">+971 4 240 8784</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu">
                <div class="menu-icon" id="menu-open">
                    <i class="las la-bars"></i>
                </div>
                <div class="menu-wrapper">
                    <div class="col-md-12 cross-menu text-right" id="menu-close">
                        <i class="las la-times"></i>
                    </div>
                    <div class="col-md-12 header-menu text-center">
                        <img src="~/img/logo.svg" class="logo" alt="amca-logo-mobile">
                    </div>
                    <div class="col-md-12">
                        <ul class="nav navbar-nav">
                            <li><a href="@Url.Action("Index", "Pages")" class="active">Home</a></li>
                            <li class="panel panel-default" id="dropdown">
                                <a data-toggle="collapse" href="#dropdown-lvl1">
                                    <i class="fa fa-diamond"></i> Company
                                    <div class="caret-wrapper"><span class="caret"></span></div>
                                </a>
                                <div id="dropdown-lvl1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="@Url.Action("CompanyProfile", "Company")">Profile</a></li>
                                            <li><a href="@Url.Action("MissionVission", "Company")">Mission &amp; Vision</a></li>
                                            <li><a href="@Url.Action("CorporateGroup", "Company")">Corporate Group</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="panel panel-default" id="dropdown">
                                <a data-toggle="collapse" href="#dropdown-lvl2">
                                    <i class="fa fa-diamond"></i> Audit &amp; Assurance
                                    <div class="caret-wrapper"><span class="caret"></span></div>
                                </a>
                                <div id="dropdown-lvl2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="@Url.Action("InternalAudit", "AuditAssuranceServices")">Internal Audit</a></li>
                                            <li><a href="@Url.Action("ExternalAudit", "AuditAssuranceServices")">External Audit</a></li>
                                            <li><a href="@Url.Action("TaxAudit", "AuditAssuranceServices")">Tax Audit</a></li>
                                            <li><a href="@Url.Action("RevenueAudit", "AuditAssuranceServices")">Revenue Audit</a></li>
                                            <li><a href="@Url.Action("InterimAudit", "AuditAssuranceServices")">Interim Audit</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="panel panel-default" id="dropdown">
                                <a data-toggle="collapse" href="#dropdown-lvl3">
                                    <i class="fa fa-diamond"></i> Accounting &amp; Bookkeeping
                                    <div class="caret-wrapper"><span class="caret"></span></div>
                                </a>
                                <div id="dropdown-lvl3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="@Url.Action("Accounting", "AccountingBookkeepingService")">Accounting</a></li>
                                            <li><a href="@Url.Action("Bookkeeping", "AccountingBookkeepingService")">Bookkeeping</a></li>
                                            <li><a href="@Url.Action("AccountingReview", "AccountingBookkeepingService")">Accounting Review</a></li>
                                            <li><a href="@Url.Action("BacklogAccounting", "AccountingBookkeepingService")">Backlog Accounting</a></li>
                                            <li><a href="@Url.Action("AccountingSupervision", "AccountingBookkeepingService")">Accounting Supervision</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="panel panel-default" id="dropdown">
                                <a data-toggle="collapse" href="#dropdown-lvl4">
                                    <i class="fa fa-diamond"></i> VAT Consulting
                                    <div class="caret-wrapper"><span class="caret"></span></div>
                                </a>
                                <div id="dropdown-lvl4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="@Url.Action("VatRegitration", "VatConsultingService")">VAT Registration Assistance</a></li>
                                            <li><a href="@Url.Action("ReturnFiling", "VatConsultingService")">VAT Return Filing</a></li>
                                            <li><a href="@Url.Action("Reconsideration", "VatConsultingService")">VAT Reconsideration</a></li>
                                            <li><a href="@Url.Action("TrainingAdvisory", "VatConsultingService")">VAT Training and Advisory</a></li>
                                            <li><a href="@Url.Action("Amendment", "VatConsultingService")">VAT Amendment</a></li>
                                            <li><a href="@Url.Action("DeRegistration", "VatConsultingService")">VAT De-registration</a></li>
                                            @*<li><a href="@Url.Action("TRC", "VatConsultingService")">Tax Residence Certificate</a></li>*@
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="panel panel-default" id="dropdown">
                                <a data-toggle="collapse" href="#dropdown-lvl5">
                                    <i class="fa fa-diamond"></i> Liquidation/De-Registration
                                    <div class="caret-wrapper"><span class="caret"></span></div>
                                </a>
                                <div id="dropdown-lvl5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="@Url.Action("LiquidationProcess", "LiquidationService")">Liquidation Process</a></li>
                                            <li><a href="@Url.Action("LiquidationReport", "LiquidationService")">Liquidator's Report</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li><a href="@Url.Action("Industries", "Pages")">Industries</a></li>
                            <li><a href="@Url.Action("Blogs", "Pages")">Blogs</a></li>
                            <li class="panel panel-default" id="dropdown">
                                <a data-toggle="collapse" href="#dropdown-lvl6">
                                    <i class="fa fa-diamond"></i> Careers
                                    <div class="caret-wrapper"><span class="caret"></span></div>
                                </a>
                                <div id="dropdown-lvl6" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="@Url.Action("ListAllJobs", "Career")">Experienced Career Roles</a></li>
                                            <li><a href="@Url.Action("StudentAndCampusRole", "Career")">Student and Campus Roles</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li><a href="@Url.Action("ContactUs", "Pages")">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12 Mtop-20 text-center">
                        <ul class="social-links-footer">
                            <li>
                                <a href="https://www.facebook.com/amcaauditing" target="_blank" rel="noreferrer" title="facebook"><i class="lab la-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/watch?v=bcMiiT8Y04s&ab_channel=AMCA" target="_blank" rel="noreferrer" title="youtube"><i class="lab la-youtube"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/amca.auditing/" target="_blank" rel="noreferrer" title="instagram"><i class="lab la-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/amcamiddleeast" target="_blank" rel="noreferrer" title="linkedin"><i class="lab la-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
        <footer>
            <div class="row footer-wrapper padding-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-12">
                            <a href="@Url.Action("Index", "Pages")">
                                <img src="~/img/logo.svg" class="logo img-responsive" height="300" width="95" alt="amca-logo-footer" />
                            </a>
                            <p class="Mtop-20">AMCA is a leading Auditing firm in UAE with a decade long experience. We are registered with the Ministry of Economy to operate as a Licensed Auditor.</p>
                        </div>
                        <div class="col-md-offset-1 col-md-2 col-sm-6 col-12">
                            <h4>Extra Links</h4>
                            <div class="row mt-25">
                                <div class="col-md-12 col-sm-12">
                                    <ul class="footer-nav">
                                        <li><a href="@Url.Action("CompanyProfile", "Company")">About Us</a></li>
                                        <li><a href="@Url.Action("Industries", "Pages")">Industries</a></li>
                                        <li><a href="@Url.Action("Blogs", "Pages")">Blogs</a></li>
                                        <li><a href="@Url.Action("ContactUs", "Pages")">Contact Us</a></li>
                                        <li><a href="https://www.amcaauditing.com/sitemap.html">Sitemap</a></li>
                                        <li><a href="@Url.Action("TermsandConditions", "Pages")">Terms & Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <h4>Services</h4>
                            <div class="row mt-25">
                                <div class="col-md-12 col-sm-12">
                                    <ul class="footer-nav">
                                        <li><a href="@Url.Action("AuditAssurance", "Services")">Audit &amp; Assurance</a></li>
                                        <li><a href="@Url.Action("AccountingBookkeeping", "Services")">Accounting &amp; Bookkeeping</a></li>
                                        <li><a href="@Url.Action("VatConsulting", "Services")">VAT Consulting</a></li>
                                        <li><a href="@Url.Action("Liquidation", "Services")">Liquidation/De-Registration</a></li>
                                        <li><a href="@Url.Action("CorporateTaxServices", "Services")">Corporate Tax</a></li>
                                        <li><a href="@Url.Action("TRC", "Services")">Tax Residency Certificate</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-12">
                            <h4>Follow Us</h4>
                            <ul class="social-links-footer">
                                <li>
                                    <a href="https://www.facebook.com/amcaauditing" target="_blank" rel="noreferrer" title="facebook"><i class="lab la-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/watch?v=bcMiiT8Y04s&ab_channel=AMCA" target="_blank" rel="noreferrer" title="youtube"><i class="lab la-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/amca.auditing/" target="_blank" rel="noreferrer" title="instagram"><i class="lab la-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/company/amcamiddleeast" target="_blank" rel="noreferrer" title="linkedin"><i class="lab la-linkedin-in"></i></a>
                                </li>
                            </ul>
                            <ul class="footer-nav Mtop-20">
                                <li><a href="mailTo:info@amcaauditing.com"> <i class="las la-envelope"></i><span> info@amcaauditing.com</span></a></li>
                                <li><a href="Tel:+97143211204"><i class="las la-phone"></i><span>+971 4 240 8784</span></a></li>
                                <li><a href="javascript:void(0);"> <i class="las la-street-view"></i><span> Unit No. 1801, Cluster T Fortune Executive Tower JLT, DMCC, Dubai, UAE</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer-ribbon">
                <div class="col-md-12 text-center">
                    <span>AMCA Auditing &copy; 2021 - @DateTime.Now.Year. All Rights Reserved.</span>
                </div>
            </div>
            <div class="footer-mobile-menu">
                <ul>
                    <li><a href="mailTo:info@amcaauditing.com"><i class="las la-envelope"></i><span>Mail Us</span></a></li>
                    @*<li><a href="@Url.Action("ContactUs", "Pages")" id="requestCust"><i class="las la-paper-plane"></i><span>Enquire Now</span></a></li>*@
                    <li><a href="@Url.Action("Index", "Pages")#requestWrapper" id="requestCust" onclick="GoToFormMob(this.id)"><i class="las la-paper-plane"></i><span>Enquire Now</span></a></li>
                    @*<li><a href="https://api.whatsapp.com/send?phone=+97142408784"><i class="lab la-whatsapp"></i><span>Chat with us</span></a></li>*@
                    <li><a href="https://wa.me/97143211204"><i class="lab la-whatsapp"></i><span>Chat with us</span></a></li>
                    <li><a href="Tel:+97142408784"><i class="las la-phone"></i><span>Call Us</span></a></li>
                </ul>
            </div>
        </footer>
        @*all fixed btn*@
        <span>
            <a href="https://wa.me/97142408784" class="whatsapp" target="_blank" rel="noreferrer">
                <i class="lab la-whatsapp" aria-hidden="true"></i>
            </a>
            <a href="@Url.Action("Index", "Pages")#requestWrapper" class="btn btn-theme btn-color-1 EnqBtnFixed opacity-100" id="notHomePageBtn" onclick="GoToForm(this.id)">
                <span class="">›</span>
                Enquire Now
                <span class="">›</span>
            </a>
            <a href="javascript:void(0);" class="btn btn-theme btn-color-1 EnqBtnFixed opacity-100" id="homePageBtn" onclick="GoToForm(this.id)">
                <span class="">›</span>
                Enquire Now
                <span class="">›</span>
            </a>
        </span>
        @*all fixed btn end*@

    </div>
    @*alert message text common*@
    <div id="alertMessage"> </div>
    @Scripts.Render("~/bundles/jquery")
    <script>
        jQuery.event.special.touchstart = {
            setup: function (_, ns, handle) {
                this.addEventListener("touchstart", handle, { passive: !ns.includes("noPreventDefault") });
            }
        };
        jQuery.event.special.touchmove = {
            setup: function (_, ns, handle) {
                this.addEventListener("touchmove", handle, { passive: !ns.includes("noPreventDefault") });
            }
        };
        jQuery.event.special.wheel = {
            setup: function (_, ns, handle) {
                this.addEventListener("wheel", handle, { passive: true });
            }
        };
        jQuery.event.special.mousewheel = {
            setup: function (_, ns, handle) {
                this.addEventListener("mousewheel", handle, { passive: true });
            }
        };
    </script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom-validator")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(function () {
            $("#datepicker").datepicker({
                autoclose: true,
            });
        });
    </script>
    <script>
        //function Showmessage(data) {
        //    debugger
        //    $('#SuccessfulMsg').html('Successfully Submitted');
        //    $('#subscribeId').val('');
        //}
        function ShowSuccess(data) {
            //debugger
            var isok = data.isok;
            var msg = data.message;
            if (isok == true) {
                $('#alertMessage').html('<span class="alert alert-success">' + msg + '</span>');
                $("#alertMessage").fadeIn("fast", function () {
                    setTimeout(function () {
                        $("#SubscribForm")[0].reset();
                        $("#alertMessage").fadeOut("slow");
                    }, 4000);
                });

            }
            if (isok == false) {
                $('#alertMessage').html('<span class="alert alert-danger">' + msg + '</span>');
                $("#alertMessage").fadeIn("fast", function () {
                    setTimeout(function () {
                        $("#alertMessage").fadeOut("slow");
                    }, 4000);
                });

            }
        }
        //newsletter subscrib from alert message end
    </script>
    <script>
        $(document).ready(function () {
            //$(".renderClass").prop('class', 'textFld selectpicker form-control');
            $(".renderClass").attr('data-live-search', true);
        });
    </script>
    <script>
        $(function () {
            $('.search-SelectList').selectpicker({
                liveSearch: true,
                showSubtext: true
            });
        });

    </script>
    <script>
        $(function () {
            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true
            });
        });

    </script>
    @*<script>
            window.addEventListener('load', function () {
                if (window.location.pathname == '/thankyou') {
                    gtag('event', 'conversion', { 'send_to': 'AW-672222857/MsGXCJDgosYDEImdxcAC' });
                }
            });

        </script>*@

    <script>
        window.addEventListener('load', function () {
            jQuery('body').on('mousedown', '[href*="wa.me"]', function () {
                gtag('event', 'conversion', { 'send_to': 'AW-672222857/E6u8CLHflpoYEImdxcAC' });
            });

            jQuery('body').on('mousedown', '[href*="mailto:"]', function () {
                gtag('event', 'conversion', { 'send_to': 'AW-672222857/T_7iCLfflpoYEImdxcAC' });
            });

            jQuery('body').on('mousedown', '[href*="tel:"]', function () {
                gtag('event', 'conversion', { 'send_to': 'AW-672222857/jEy5CLTflpoYEImdxcAC' });
            });
        });
    </script>
    <script>
        if ($(window).width() > 992) {



            function GoToForm(id) {
                $('html,body').animate({
                    scrollTop: $("#requestWrapper").offset().top - 100
                },
                    'slow');
            }

        } /*width() > 992 end*/


        function GoToFormMob(id) {
            $('html,body').animate({
                scrollTop: $("#requestWrapper").offset().top - 100
            },
                'slow');
        }

    </script>
</body>
</html>
